* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/clone-e814f.appspot.com/o/stone.background.jpg?alt=media&token=56071e58-0231-4e8b-be11-754e620425fb);
  background-size: contain;
  margin: 0;
  font-family: "Carter One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
